* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


html, body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}


.main{
    height: 80%;
    width: 80%;
    display: flex;
    /* background-color: red; */
    border: 2px solid black;
    border-radius: 20px;
    overflow: hidden;
}

.main .left {
    width: 50%;
    height: 100%;
    background-color: rgb(182, 204, 204);
    object-fit: cover;
}

.main .left img {
    height: 90%;
    object-fit: cover;

}

.main .right {
    width: 50%;
    height: 100%;
    background-color: antiquewhite;
    padding: 10px;
}


.main .right .top p {
    font-size: 1.2em;
    text-align: justify;
}

.main .right .bottom {
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main .right .bottom button {
    padding: 5px 10px;
    font-size: 1.3em;
}


.main .right .bottom button a {
    text-decoration: none;
}