<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/productForm.css">
</head>
<body>
    
    <h2>Update Blog</h2>
    <form action="/products/update/<%= product._id %>" enctype="multipart/form-data" method="post">

        <label for="title">Title</label><br>
        <input type="text" name="title" placeholder="enter blog title" value="<%= product.title %>"> <br><br>


        <label for="description">Description</label><br>
        <input type="text" name="description" placeholder="enter blog description" value="<%= product.description %>"> <br><br>

        <label for="category">Content</label><br>
        <input type="text" name="category" placeholder="enter  category" value="<%= product.category %>"> <br><br>

       <div class="btn">
         <button type="submit">Submit</button>
       </div>

    </form>


</body>
</html>